@using SIMVer.Services

<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			@I18N.GetText("DslScriptSource.CampaignScriptList") 
            <div class="pull-right">
            @if (UserContext.UserHasPermission("DslScriptSource.Create")) {
                <a href="@Url.Action("ModifyScript", "ProcessScript", new { type = "Campaign" })" class="btn blue">@I18N.GetText("DslScriptSource.CreateNewCampaignScript")</a>
            }
            </div>	
		</h3>
 
 
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="@Url.Action("Index", "Home")">@I18N.GetText("GUI.Home")</a> 
				<i class="icon-angle-right"></i>
			</li>
			<li><a href="#">@I18N.GetText("DslScriptSource.CampaignScriptList")</a></li>
            
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>
        
        
</div>



