@using SIMVer.Services
@using SIMVer.Common
<div class="row-fluid">
<div class="span4 control-group">
	<label class="control-label">Nazwa/Id</label>
	<div class="controls">
		<input type="text" name="query" style="width: 100%" class="m-wrap" value="@Request["query"]"/>
	</div>
</div>
<div class="span4 control-group">
	<label class="control-label">@I18N.GetText("Campaign.Status")</label>
	<div class="controls">
		<select class="m-wrap" data-placeholder="Wybierz status kampanii" tabindex="1" name="Status">
			<option value=""></option>
            @foreach(var v in Enum.GetValues(typeof(CampaignStatus))) {
                var sel = string.Equals(Request["Status"], ((int)v).ToString());
                <option value="@((int) v)" @(sel ? "selected" : "")>@I18N.GetText(v)</option>
            }
		</select>
	</div>
</div>
</div>