@using SIMVer.Services
@using SIMVer.Common

@{var tt = (TemplateType) Enum.Parse(typeof(TemplateType), string.IsNullOrEmpty(Request["type"]) ? "Email" : Request["type"]);}
<div class="row-fluid">
	<div class="span12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			@I18N.GetText("MessageTemplateList." + tt.ToString()) <small>@ViewBag.CurrentFolder</small>
            <div class="pull-right">
            @if (UserContext.UserHasPermission("MessageTemplate.Create")) 
            {
                <a href="@Url.Action("ModifyTemplate", "Templates", new { type = tt.ToString() })" class="btn blue">@I18N.GetText("MessageTemplate.Create" + tt.ToString())</a>
            }
            </div>	
		</h3>
 
 
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="@Url.Action("Index", "Home")">@I18N.GetText("GUI.Home")</a> 
				<i class="icon-angle-right"></i>
			</li>
			<li><a href="#">@I18N.GetText("MessageTemplateList")</a></li>
            
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>
        
        
</div>



