@using CogDox.Core.BusinessObjects
@using CogDox.Models;

@model TaskDetailsModel
@{
    var GID = Model.Task.Id;
}

<style>
#action_menu { 
    position:fixed;
    width:40px;
    height:40px;
    background-color:red;
    border: solid 2px gray;
    margin-left:200px;
    margin-top:200px;
}
</style>
<!--
<div id="action_menu">
    <ul class="nav">
            <li  class="">
				<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
				<span class="selected"></span>
				Widok
				<span class="arrow"></span>     
				</a>
				<ul class="dropdown-menu">
					<li >
						<a href="@Url.Action("Details", "Task", new {id=Model.Task.Id})" target="_blank">Otwórz w nowym oknie</a>
					</li>
                    <li>
                        <a class="" data-toggle="modal" href="#modal_addComment">Dodaj komentarz</a>
					</li>
                </ul>
            </li>
        </ul>
</div>-->

<div class="navbar" id="taskdet_navbar_@(GID)">
	<div class="navbar-inner">
        <div class="container">
            <a class='brand'>Zadanie nr @Model.Task.Id</a>
        
        <ul class="nav" id>
            <li  class="">
				<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
				<span class="selected"></span>
				Widok
				<span class="arrow"></span>     
				</a>
				<ul class="dropdown-menu">
					<li >
						<a href="@Url.Action("Details", "Task", new {id=Model.Task.Id})" target="_blank">Otwórz w nowym oknie</a>
					</li>
                    <li>
                        <a href="#" id="reload_link_@(GID)" class="reload_link">Załaduj ponownie</a>
                    </li>
                </ul>
            </li>
        </ul>
		<ul class="nav pull-right">
			<li>
				<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">
				<span class="selected"></span>
				Akcje
				<span class="arrow"></span>     
				</a>
				<ul class="dropdown-menu">
                    <li>
                        <a class="" data-toggle="modal" href="#modal_TakeTaskFromGroupQueue">Pobierz z kolejki</a>
					</li>
					<li >
                        <a class="" data-toggle="modal" href="#responsive">Akcja 1</a>
					</li>
                    <li>
                        <a class="" data-toggle="modal" href="#modal_action2">Akcja 2</a>
					</li>
                </ul>
                </li>
		</ul>
        </div>
	</div>
</div>

<div id="taskdet_body_@(GID)" class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            Id: @Model.Task.Id
        </div>
        <div class="span3">
            Summary: @Model.Task.Summary
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 tabbable tabbable-custom">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab_1_1" data-toggle="tab">Opis</a></li>
												<li><a href="#tab_1_2" data-toggle="tab">Section 2</a></li>
												<li><a href="#tab_1_3" data-toggle="tab">Section 3</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_1">
													@Html.Raw(Model.Task.Description)
												</div>
												<div class="tab-pane" id="tab_1_2">
													<p>Howdy, I'm in Section 2.</p>
													<p>
														Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
													</p>
													<p>
														<a class="btn green" href="ui_tabs_accordions.html#tab_1_2" target="_blank">Activate this tab via URL</a>
													</p>
												</div>
												<div class="tab-pane" id="tab_1_3">
													<p>Howdy, I'm in Section 3.</p>
													<p>
														Duis autem vel eum iriure dolor in hendrerit in vulputate.
														Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat
													</p>
													<p>
														<a class="btn yellow" href="ui_tabs_accordions.html#tab_1_3" target="_blank">Activate this tab via URL</a>
													</p>
												</div>
											</div>
										</div>
    </div>

</div>

<!-- ==== MODALS ============================================================================== -->

@Html.Partial("Action_TakeTaskFromGroupQueueMarkup", Model)

<div id="modal_addComment" class="modal hide" tabindex="-1" data-width="760">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3>Dodaj komentarz</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid" >
			<div class="12" id="modal_addComment_form">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">Anuluj</button>
		<button type="button" class="btn blue">OK</button>
	</div>
    <script type="text/javascript">
        Ext.onReady(function () {
            var p = Ext.create('Ext.form.Panel', {
                renderTo: 'modal_addComment_form', height: 300, border: false, defaults: {padding: 5, anchor: '100%'}, style: "width: 100%",
                items: [
                    { xtype: 'textfield', fieldLabel: 'kto ty jestes?', name: 'who' },
                    { xtype: 'textfield', fieldLabel: 'A kto tam?', name: 'another' },
                    { xtype: 'textarea', fieldLabel: 'Komentarz', name: 'comment' }
                ]
            });
            $('#modal_addComment').on('shown', function () {
                console.log('modal show!');
                p.doLayout();
            });
        });
    </script>
</div>

<!-- END MODALS -->

<script type="text/javascript">
    //event wireup
    $(document).ready(function () {
        var exApi = eval('@Model.ViewHostCallbackJS');
        if ($.isFunction(exApi)) exApi = exApi();
        $('#reload_link_@(GID)').click(function () {
            exApi.reload();
        });
    });
</script>