<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/webrc/bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" href="@Url.Content("~/webrc/bootstrap/css/bootstrap-theme.css")" />
    <link rel="stylesheet" href="@Url.Content("~/apprc/facilemain.css")" />


    <script type="text/javascript" src="@Url.Content("~/webrc/require.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/webrc/jquery-1.11.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/webrc/bootstrap/js/bootstrap.js")"></script>
</head>
<body>
    @Html.Partial("UI/TopNavbar")

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          @Html.Partial("UI/SideNavigation")
        </div>
        <div class="col-sm-9 col-md-10  main">
          @RenderBody()
        </div>
      </div>
    </div>
    
</body>
</html>
